* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    background-color: #2663B0;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 81px;
    transform: translateY(-100%);
    transition: .3s ease;
    &.active {
        transform: translateY(0);
    }
    margin: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    a{
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 900;
        text-decoration: none;
        color: white;
        img{
            height: 70px;
            width: 70px;
            margin-right: 10px;
            
        }
    }
       
    .link{
        width: 33%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
            font-size: 25px;
            color: white;
            font-weight: 700;
            
        }

    }
    button{
        cursor: pointer;
        color: white;
        background: none;
        border: 2px solid white;
        padding: 7px;
        width: 150px;
        border-radius: 20px;
    }
}

main {
    .social {
        position: fixed;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        grid-gap: 12px;
        flex-direction: column;
        z-index: 1;
        img {
            width: 40px;
            height: 40px;
        }
    }
    .bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
        align-items: flex-end;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        .block {
            height: 400px;
            background-color: blue;
            transform: translateY(100%);
            transition: .3s ease;
            &.active {
                transform: translateY(0);
            }
        }
    }
    .text{
        width: 600px;
        display: flex;
        flex-direction: column;
        margin-top: 250px;
        margin-left: 200px;
        h2, span, button {
          color: #fff;  
        }
        h2{
            font-size: 60px;
        }
        span{
            font-size: 26px;
        }
        button{
            margin-top: 15px;
            width: 300px;
            height: 50px;
            background: none;
            border-radius: 30px;
            border: 1px solid white;
            font-size: 20px;
        }
        button:hover{
            cursor: pointer;
            background-color: wheat;
            opacity: 1;
            transition: 1.5s ease;
        }
    }
}

